node_modules/
build/
yarn-error.log
.env
artifacts/
cache/
.eslintcache
coverage
coverage.json
.vscode
soljson-v0.6.11+commit.5ef660b1.js
.openzeppelin
bin
typechain
whitelistfiles

contracts/controllers/curve/CurveController*.sol
!contracts/controllers/curve/CurveControllerETH.sol
!contracts/controllers/curve/CurveControllerMetaTemplate.sol
!contracts/controllers/curve/CurveControllerTemplate.sol
!contracts/controllers/curve/CurveControllerV2Template.sol
dist

temp
